body{
    width: 100%;
   
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(16, 0, 0, 0.06);
    
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;

}
#navbar li{
    list-style-type: none;
    padding: 0 20px;

}
#navbar li a{
    text-decoration: none;
    font: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

 {
    color: #088178;
}

.logo{
   width: 80px;
   height: 80px;
   border-radius: 50%;
}